<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Inicio - Portafolio</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" data-auto-replace-svg="nest"></script>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/presentacion.css">
    <link rel="stylesheet" href="/stylesheets/proyecto.css">
    <link rel="stylesheet" href="/stylesheets/contacto.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <!--<script src="/javascript/cartel.js"></script>-->

</head>

<body>
    <!---INICIO HEADER-->
    <header class="header">
        <div class="container">
            <div class="row">

                <div class="col-6">
                    <ul class="header-logos">
                        <li class="header-list"><a href="https://www.linkedin.com/in/mendietasergio/" target="blank"><i
                                    class="fab fa-linkedin height= 50;"></i></a></li>
                        <li class="header-list"><a href="https://github.com/MendietaSergio" target="blank"><i
                                    class="fab fa-github-alt"></i></a></li>
                    </ul>
                </div>
                <div class="col-6">
                    <ul class="header-menu">
                        <li class="header-list"><a href="#">Sobre Mi</a></li>
                        <li class="header-list"><a href="#proyectos">Proyectos</a></li>
                        <li class="header-list"><a
                                href="https://drive.google.com/file/d/1lykPv5C-LB7YNQeTDQFXX85vwlMyZp3r/view?usp=sharing"
                                target="blank">Curriculum</a></li>
                        <li class="header-list"><a href="#contacto-enlace">Contacto</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!---FINALIZA HEADER-->

    <!---INICIO PRESENTACION-->

    <article class="presentacion">
        <div class="container">
            <div class="row">
                <div class="col-4 img-avatar">
                    <div class="img-foto">
                        <img src="/images/cargando-logo.png" alt="Avatar.png">
                    </div>
                </div>
                <div class="col-8">
                    <span>Hola, mi nombre es<span>
                            <h1 class="nombre">Mendieta Sergio</h1>
                            <p>Soy desarrollador full stack especializado en frontend y backend para aplicaciones web
                                complejas y escalabes. Actualmente estoy en busca de mi primer empleo IT. En mi página
                                de<a href="https://github.com/MendietaSergio" target="blank">Github</a> subo proyectos
                                que voy aprendiendo en internet.
                            </p>
                </div>
            </div>
        </div>
    </article>
    <!---FINALIZA PRESENTACION-->

    <!---INICIO HABILIDADES-->

    <article class="container">
        <div class="row">


            <h2 class="titulo-habilidades">Habilidades</h2>
            <div class="col-12">
                <div class="posicion-descrip">
                    <p class="p-habilidades">Soy graduado de <span class="span-DG">Digital House</span> , donde realicé
                        el curso
                        de Desarrollador Full Stack. En la misma, aprendí diferentes lenguajes y herramientas de
                        programación. A
                        continuación se muestra una descripcion general rápida de mis pincipales tecnicas y herramientas
                        que
                        utilizo.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <div class="caja">
                    <div class="caja-icono">
                        <i class="fas fa-laptop-code"></i>
                    </div>
                    <div class="caja-lista">
                        <h4 class="titulo-caja1">Frontend</h4>
                        <li class="list-habilidades"><i class="fas fa-check"></i> HTML/CSS/SASS</li>
                        <li class="list-habilidades"><i class="fas fa-check"></i> Javascript</li>
                        <li class="list-habilidades"><i class="fas fa-check"></i> Node.js</li>
                        <li class="list-habilidades"><i class="fas fa-check"></i> React js</li>
                    </div>

                </div>
            </div>
            <div class="col-4">
                <div class="caja">
                    <div class="caja-icono">
                        <i class="fas fa-database"></i>
                    </div>
                    <div class="caja-lista">
                        <h4 class="titulo-caja2">Backend</h4>

                        <li class="list-habilidades"><i class="fas fa-check"></i> MySQL</li>
                        <li class="list-habilidades"><i class="fas fa-check"></i> PHP</li>
                        <li class="list-habilidades"><i class="fas fa-check"></i> MongoDB</li>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="caja">
                    <div class="caja-icono">
                        <i class="fas fa-tools"></i>
                    </div>
                    <div class="caja-lista">
                        <h4 class="titulo-caja3">Herramientas</h4>

                        <li class="list-habilidades"><i class="fas fa-check"></i> Visual Studio Code</li>
                        <li class="list-habilidades"><i class="fas fa-check"></i> Git/Github</li>
                        <li class="list-habilidades"><i class="fas fa-check"></i> Postman</li>
                        <li class="list-habilidades"><i class="fas fa-check"></i> Wireframe</li>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <!---FINALIZA HABILIDADES-->

    <!---INICIO PROYECTOS-->
    <article class="proyecto" id="proyectos">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Proyectos</h2>
                    <span class="presentacion-proyecto">En esta sección están algunos de los proyectos que voy
                        realizando de forma autónoma. Algunos estan hechos de cursos que realicé o clonando páginas para
                        ir mejorando la practica, implementando mejoras, ya sea visuales o funcionales.</span>
                </div>
            </div>
        </div>
    </article>
    <article>
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-4">
                        <div class="caja-proyecto">
                            <img src="/images/ramdon.jpg" alt="">
                            <h3>Caja 1</h3>
                        </div>

                    </div>
                    <div class="col-4">
                        <div class="caja-proyecto">
                            <img src="/images/ramdon.jpg" alt="">
                            <h3>Caja 2</h3>
                        </div>

                    </div>
                    <div class="col-4">
                        <div class="caja-proyecto">
                            <img src="/images/ramdon.jpg" alt="">
                            <h3>Caja 3</h3>
                        </div>

                    </div>
                    <div class="col-4">
                        <div class="caja-proyecto">
                            <img src="/images/ramdon.jpg" alt="">
                            <h3>Caja 4</h3>
                        </div>

                    </div>
                    <div class="col-4">
                        <div class="caja-proyecto">
                            <img src="/images/ramdon.jpg" alt="">
                            <h3>Caja 5</h3>
                        </div>

                    </div>
                    <div class="col-4">
                        <div class="caja-proyecto">
                            <img src="/images/ramdon.jpg" alt="">
                            <h3>Caja 6</h3>
                        </div>

                    </div>
                    <div class="col-4">
                        <div class="caja-proyecto">
                            <img src="/images/ramdon.jpg" alt="">
                            <h3>Caja 7</h3>
                        </div>

                    </div>
                    <div class="col-4">
                        <div class="caja-proyecto">
                            <img src="/images/ramdon.jpg" alt="">
                            <h3>Caja 8</h3>
                        </div>

                    </div>
                    <div class="col-4">
                        <div class="caja-proyecto">
                            <img src="/images/ramdon.jpg" alt="">
                            <h3>Caja 9</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <!---FINALIZA PROYECTOS-->
    <!---INCIIO CONTACTO-->
    <article class="contacto" id="contacto-enlace">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Contacto</h2>
                </div>
            </div>
        </div>
    </article>
    <article>
        <div class="container">
            <div class="row">
                <div class="caja-contacto">


                    <div class="col-12">
                        <div>
                            <img class="img-contacto" src="/images/cargando-logo.png" alt="avatar-contacto">

                        </div>
                    </div>
                    <div class="col-12">
                        <div class="caja-form">
                            <form action="/public/php/enviar.php" method="POST">
                                <label for="name">Nombre completo: </label>
                                <input type="text" name="name" id="name" placeholder="Nombre completo" required>
                                <label for="email">Email: </label>
                                <input type="email" name="email" id="eimal" placeholder="Example@email.com">
                                <label for="comentario">Comentario: </label>
                                <br>
                                <textarea name="comentario" type="comentario" rows="10" cols="69" minlength="10"
                                    maxlength="500" required placeholder="Deje aqui su comentario..."></textarea>
                                <br>
                                <button type="submit" class="btn btn-primary ">Enviar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <!---FINALIZA CONTACTO-->

    <footer>
        <div class="container">
            <div class="row">
                <div class="footer-fila" >
                    
                    <div class="col-12">
                        <ul class="footer-logos">
                            <li class="footer-list"><a href="https://www.linkedin.com/in/mendietasergio/" target="blank"><i
                                        class="fab fa-linkedin height= 50;"></i></a></li>
                            <li class="footer-list"><a href="https://github.com/MendietaSergio" target="blank"><i
                                        class="fab fa-github-alt"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-12">
                        <h5>Plantilla Copyright © Portafolio Mendieta Sergio</h5>
                    </div>
                    
                </div>
            </div>
        </div>
    </footer>
</body>

</html>