footer{
    background-color:#41A4F5;
    height: 80px;
    margin-top: 15px;
}
footer .fa-linkedin{
    font-size: 40px;
}
footer .fa-github-alt{
    font-size: 40px;
}
footer .footer-logos{
    position: relative;
    bottom: -15px;
    left: 960px;
}
footer .footer-list{
    display: inline;
}
footer h5{
    text-align: center;
}
footer .footer-fila{
    margin: 10px;
    overflow: hidden;
}