*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: #F7F8FA;
}
a{
    text-decoration: none;
    color: #C1DBF1;
    padding: 10px;
}
header{
    background-color: rgb(10,113,198);
    height: 60px;
    width: auto;
}
header .header-logos,.header-menu{
    margin-top: 20px;
}
header .header-menu{
    position: absolute;
    right: 90px;
}
header .header-logos{
    position: absolute;
    top: -8px;
}
ul{
    list-style: none;
    display: inline;
}

.header-list{
    display: inline;

}
a:hover{
    color:lightskyblue;    
}
header .fa-linkedin{
    font-size: 40px;
}
header .fa-github-alt{
    font-size: 40px;
}
h1{
    text-align: center;
    color:dodgerblue;
    padding-top: 40px;
    
}
