@import "index.css";
/*
INICIO PRESENTACION
*/
article.presentacion{
    background-color:#41A4F5;
    height: 200px;
    padding-top: 20px;
}
article .img-foto{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
article .nombre{
    color: white;
    text-align: left;
    padding-top: 0px;
}
article span{
    color: white;
    font-weight: 500;
}

/*
FINALIZA LA PRESENTACION
*/
/*
INICIA HABILIDADES
*/
article .titulo-habilidades{
    text-align: center;
    margin-top: 50px;
}
article .posicion-descrip{
    text-align: center;
}
article .p-habilidades{
    color: #434E5E;
    font-weight: 500;
    padding-bottom: 90px;
}
article .span-DG{
    color: black;
}
article .caja{
    background-color: rgb(255, 255, 255);
    height: 300px;
    width: 290px;
    float: right;
    border-radius: 2%;
    border-bottom: solid 1px rgb(73, 73, 73, 0.8);
    border-right: solid 1px rgb(73, 73, 73, 0.8);
}
article .caja-icono{
    font-size: 60px;
    position: relative;
    right: -95px;
    top: -14;
}
article .list-habilidades{
    list-style: none;
    margin-left: 60px;
    padding-top: 15px;
}
article .titulo-caja1{
    padding-left: 80px;
}
article .titulo-caja2{
    padding-left: 76px;
}
article .titulo-caja3{
    padding-left: 62px;
}
/*
FINALIZA HABILIDADES
*/